.modal.modal-neutral {
    border: 10px solid var(--cp-color-12);
}
.modal.modal-email,
.modal.modal-blue {
    border: 10px solid var(--cp-color-link);
}
.modal.modal-single-message {
    text-align: center;
    padding: 45px 10px 55px;
}
.modal.modal-single-message p {
    margin: 0;
}
.modal.modal-feature h2 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 3rem 1.5rem;
}
@media (max-width: 830px) {
    .modal {
        top: 20px;
        left: 10px;
        right: 10px;
        width: auto;
        min-width: 0;
        max-height: 375px;
        overflow: auto;
        margin-left: 0;
    }
}
.modal .stop-confirms {
    margin-top: 20px;
    margin-bottom: 10px;
}
.modal .stop-confirms input[type='checkbox'] {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    margin-top: 5px;
}
.modal-message {
    z-index: 301;
}
.modal-blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 301;
    display: block;
    top: 0;
}
.modal-close-button {
    background: 0 0;
    border: none;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 10;
    cursor: pointer;
}
.modal-close-button svg {
    fill: var(--cp-color-9);
    width: 1rem;
    height: 1rem;
    -webkit-transition: 0.1s ease fill;
    transition: 0.1s ease fill;
}
.modal-close-button:hover svg {
    fill: var(--cp-color-1);
}
.modal-close-button.light-modal:hover svg {
    fill: var(--cp-color-18);
}
@media (max-width: 600px) {
    .modal {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        min-width: auto;
    }
}
.modal-title {
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 10px;
    line-height: 1.2;
}
.bottom-left-popup {
    top: auto;
    bottom: 30px;
    left: 0;
    width: auto;
    margin-left: 0;
    border-radius: 0;
}
.upload-error-file {
    font-weight: 700;
    color: var(--cp-color-red);
}
@media (max-width: 830px) {
    .modal-buttons {
        line-height: 4;
    }
}
.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.overlay.block {
    display: block;
}
.modal-overlay,
.noscript-overlay,
.tour-overlay {
    z-index: 300;
}
.popup-overlay {
    z-index: 200;
}
input.modal-closing-trick {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
input.modal-closing-trick:checked ~ div {
    display: none !important;
}
.collision-modal-choices {
    border-collapse: collapse;
}
.collision-modal-choices td {
    padding: 15px 20px 15px 0;
    border-bottom: 1px solid var(--cp-color-9);
}
.collision-modal-choices tr:last-child td {
    border: 0;
    padding-top: 20px;
}
#list-of-files p {
    margin: 0 0 2px;
}
#list-of-files p::before {
    content: ' - ';
}
#list-of-files p:last-child {
    margin-bottom: 15px;
}
.modal-signup {
    background: var(--cp-color-1);
    border-top: 7px solid var(--cp-color-green);
    border-radius: 6px;
    padding: 2rem 4rem;
    height: 81vh;
    max-height: 800px;
    min-height: 600px;
    max-width: 550px;
    top: 2.5vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.modal-signup > h1,
.modal-signup > p {
    text-align: center;
}
.modal-signup h1 {
    color: var(--cp-color-13);
}
.modal-signup h1 strong {
    color: var(--cp-color-green-dark);
}
.modal-signup p {
    color: var(--cp-color-10);
}
.modal-signup .tabs {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 32px;
}
.modal-signup .tab-group {
    background: var(--cp-color-1);
    margin: 0 -4rem;
    padding: 2rem 4rem 0;
    position: relative;
    z-index: 5;
    border-top: 1px solid var(--cp-color-2);
}
.modal-signup .tab {
    text-align: center;
    color: var(--cp-color-13);
    width: 100%;
    display: block;
}
.modal-signup .tab.active {
    display: none;
}
.modal-signup .tab .button {
    padding: 10px 16px;
    margin-right: 0;
    display: block;
}
.modal-signup .tab .fake-link {
    color: var(--cp-color-link-on-white);
}
.modal-signup .tab .fake-link:hover,
.modal-signup .tab .fake-link:focus {
    color: var(--cp-color-link-on-white);
}
.modal-signup .input-area {
    padding: 12px 40px 0;
    margin: -2px -40px -20px;
    overflow-y: auto;
    height: 338px;
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-bottom: 16px;
}
.modal-signup .input-area label {
    color: var(--cp-color-13);
    text-transform: none;
    font-weight: 700;
}
.modal-signup .input-area.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.modal-signup .anon-signup-tab {
    margin-right: -40px;
    padding-right: 20px;
}
.modal-signup .loading {
    position: absolute;
    z-index: 0;
    width: 220px;
    height: 140px;
    left: 50%;
    margin-left: -110px;
    top: 110px;
}
.modal-signup .loading .loading-codepen-box {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    margin-top: -60px;
}
.modal-signup .loading .loading-codepen-box svg {
    fill: var(--cp-color-10);
}
.modal-signup .loading p {
    font-size: 1.5rem;
    margin-left: 90px;
    margin-top: 20px;
}
.modal-signup .anon-login-frame {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 308px;
    position: relative;
    z-index: 20;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
@media (max-width: 550px) {
    .modal-signup {
        max-height: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 10px;
    }
    .modal-signup h1 {
        font-size: 2rem;
    }
    .modal-signup .tab-group {
        white-space: nowrap;
    }
    .modal-signup .tabs {
        padding-bottom: 22px;
    }
    .modal-signup .tab.left {
        margin-right: 3px;
    }
}
.unsaved-editor-message {
    font-size: 10px;
    vertical-align: -0.5em;
    padding: 2px 6px 3px;
    background: var(--cp-color-yellow);
    color: #000;
    border-radius: 3px;
    line-height: 1;
    margin-inline: 3px;
    max-width: 50%;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: opacity 0.4s linear, -webkit-transform 0.4s ease-in-out;
    transition: opacity 0.4s linear, -webkit-transform 0.4s ease-in-out;
    transition: opacity 0.4s linear, transform 0.4s ease-in-out;
    transition: opacity 0.4s linear, transform 0.4s ease-in-out,
        -webkit-transform 0.4s ease-in-out;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.unsaved-editor-message b {
    font-weight: 700;
}
.unsaved-editor-message svg {
    opacity: 0.7;
    margin-left: 2px;
    margin-bottom: -1px;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
}
.unsaved-editor-message.visible {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    pointer-events: auto;
}
.is-horiz-skinny + * .unsaved-editor-message.visible {
    -webkit-animation: none;
    animation: none;
}
@media (max-width: 767px), (max-height: 440px) {
    .unsaved-editor-message {
        position: fixed;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
        border-radius: 0 0 3px 3px;
        white-space: nowrap;
        z-index: 15;
    }
    .unsaved-editor-message.visible {
        visibility: visible;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}
@-webkit-keyframes flash-message-in {
    from {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}
@keyframes flash-message-in {
    from {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}
.flash-message {
    position: fixed;
    z-index: 302;
    top: 0;
    left: 50%;
    right: -50%;
    font-size: 14px;
    line-height: 1.3;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 3px 10px 4px;
    color: #000;
    border-radius: 0 0 5px 5px;
    background: var(--cp-color-yellow);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    white-space: nowrap;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-animation: flash-message-in 0.5s ease-in-out;
    animation: flash-message-in 0.5s ease-in-out;
}
.flash-message a {
    background: var(--cp-color-14);
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    white-space: nowrap;
}
.flash-message a:hover,
.flash-message a:focus {
    background: var(--cp-color-12);
}
.flash-message button.recheck-button {
    margin-left: 10px;
    margin-bottom: 1px;
}
.flash-message .close {
    width: 22px;
    height: 22px;
    padding: 5px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.flash-message .close svg {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    vertical-align: top;
}
.flash-message .dismiss {
    background: var(--cp-color-yellow);
    color: #000;
    display: inline-block;
    padding: 0;
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
    letter-spacing: 0.1px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    font-weight: 700;
    border: 2px solid #000;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.flash-message .dismiss svg {
    width: 50%;
    height: 50%;
    margin-top: 5px;
}
.bar-message {
    text-align: center;
    margin-bottom: 1rem;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 0)),
        color-stop(rgba(255, 255, 255, 0.15)),
        to(rgba(0, 0, 0, 0))
    );
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(255, 255, 255, 0.15),
        rgba(0, 0, 0, 0)
    );
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.bar-message svg {
    display: inline-block;
    vertical-align: middle;
}
.bar-message .close {
    position: absolute;
    right: 6px;
    top: 9px;
}
.bar-message .close svg {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    fill: var(--cp-color-1);
    pointer-events: none;
}
.bar-message .close:hover svg,
.bar-message .close:active svg {
    background: var(--cp-color-1);
    fill: var(--cp-color-14);
}
.bar-message p {
    margin: 0 auto;
    max-width: 650px;
}
.bar-message .mini-button {
    vertical-align: baseline;
}
.bar-message.bar-message-error {
    background: var(--cp-color-red-very-light);
    color: var(--cp-color-14);
}
.bar-message.bar-message-success {
    background: var(--cp-color-green-light);
    color: var(--cp-color-14);
}
.bar-message.bar-message-ask {
    background: var(--cp-color-yellow-light);
    color: var(--cp-color-14);
}
.bar-message.bar-message-ask a {
    color: var(--cp-color-link-on-white);
    border-bottom: 1px solid #acacac;
}
.bar-message.bar-message-ask a:hover,
.bar-message.bar-message-ask a:focus {
    color: hsl(var(--cp-color-link-hsl) / 80%);
    border-bottom: none;
}
.bar-message.bar-message-error svg,
.bar-message.bar-message-success svg,
.bar-message.bar-message-ask svg {
    fill: var(--cp-color-14);
}
.bar-message.bar-message-error .close:hover svg,
.bar-message.bar-message-error .close:active svg,
.bar-message.bar-message-success .close:hover svg,
.bar-message.bar-message-success .close:active svg,
.bar-message.bar-message-ask .close:hover svg,
.bar-message.bar-message-ask .close:active svg {
    background: var(--cp-color-14);
    fill: var(--cp-color-1);
}
.bar-message.bar-message-split {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.bar-message.bar-message-split > :first-child {
    margin-right: auto;
}
.bar-message.bar-message-gone {
    height: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    margin: 0;
}
.bar-message-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
}
.bar-message-wrap .bar-message {
    margin-right: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0;
}
#packages-building-message {
    margin: 2rem;
    z-index: 2;
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
.help-flyout {
    font-family: var(--cp-font-family);
    display: none;
    position: absolute;
    z-index: 10;
    left: 100%;
    top: -20px;
    margin-left: 12px;
    border: 5px solid var(--cp-color-12);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    background: var(--cp-color-20);
    text-align: left;
    font-weight: 400;
    color: var(--cp-color-8);
    cursor: auto;
}
.help-flyout::before {
    content: '';
    position: absolute;
    left: 0;
    margin-left: -14px;
    top: 12px;
    width: 0;
    height: 0;
    border-right: 10px solid var(--cp-color-12);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.help-flyout h5 {
    color: var(--cp-color-1);
    margin: 0 0 0.5rem;
}
.help-flyout p {
    color: var(--cp-color-8) !important;
    font-size: 0.9rem;
    margin: 0 0 1rem;
}
.help-flyout p:last-child {
    margin: 0;
}
.settings .help-flyout a {
    color: var(--cp-color-link-on-black);
    white-space: nowrap;
    border-color: var(--cp-color-link-on-black);
}
.settings .help-flyout a:hover,
.settings .help-flyout a:focus {
    color: #fff;
    border: none;
}
.help-flyout pre {
    white-space: pre-wrap;
}
.help-flyout-reverse {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 12px;
}
.help-flyout-reverse::before {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -24px;
    border-right: 10px solid transparent;
    border-left: 10px solid var(--cp-color-12);
}
.help-flyout-flush-right-top {
    right: 0;
    left: auto;
    top: auto;
    margin-right: 0;
    margin-left: 0;
    bottom: calc(100% + 20px);
}
.help-flyout-flush-right-top::before {
    top: calc(100% + 5px);
    bottom: 0;
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid var(--cp-color-12);
    border-bottom: none;
    border-right: 10px solid transparent;
}
.help-flyout-flush-left-top {
    right: 100%;
    left: auto;
    top: -2px;
    margin-right: 12px;
    margin-left: 0;
    bottom: auto;
    z-index: 6;
}
.help-flyout-flush-left-top::before {
    top: -5px;
    bottom: auto;
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -24px;
    border-left: 10px solid var(--cp-color-12);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
}
.help-flyout-up {
    top: auto;
    bottom: -20px;
}
.help-flyout-up::before {
    top: auto;
    bottom: 10px;
}
.help-flyout-middle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.help-flyout-middle::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.help-flyout-narrow {
    width: 200px;
}
.help-flyout-link {
    position: absolute;
    top: 3px;
    right: 0;
    width: 14px;
    height: 14px;
    margin: 0;
    cursor: pointer;
}
.help-flyout-link .icon-help {
    width: 100%;
    height: 100%;
    fill: var(--cp-color-11);
}
.help-flyout-link .icon-help:hover,
.help-flyout-link .icon-help:focus {
    fill: var(--cp-color-blue);
}
.help-flyout-link svg {
    display: block;
}
.help-flyout-link .icon-x {
    width: 12px;
    height: 12px;
    fill: var(--cp-color-12);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.help-flyout-link .icon-x:hover,
.help-flyout-link .icon-x:focus {
    fill: var(--cp-color-6);
}
.template-wrap .help-flyout-link,
.public-private-wrap .help-flyout-link,
.template-checkbox-row .help-flyout-link {
    top: 22px;
    right: 20px;
}
.help-flyout-link.inline-flyout.open {
    width: 100%;
    position: relative;
    height: auto;
}
.help-flyout-link.inline-flyout.open .icon-help {
    position: absolute;
    right: -5px;
    left: auto;
    top: -25px;
    width: 14px;
    height: 14px;
}
.help-flyout-link.inline-flyout.open .help-flyout.help-flyout-reverse {
    display: block;
    position: relative;
    right: auto;
    width: 100%;
    margin-top: 24px;
    border-width: 2px;
    left: 2%;
}
.help-flyout-link.inline-flyout.open .help-flyout.help-flyout-reverse::before {
    display: none;
}
.private-icon {
    float: right;
    fill: var(--cp-color-12);
    height: 25px;
    width: 20px;
}
.private-icon.inline {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.private-icon svg {
    width: 100%;
    height: 100%;
}
.private-icon.left {
    margin-right: 5px;
    float: left;
}
.private-icon.absolute {
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
}
.private-icon.centered {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.private-icon.large {
    width: 40px;
    height: 40px;
}
.private-icon.small {
    height: 23px;
    width: 16px;
}
.private-icon.trans {
    opacity: 0.5;
}
.typeahead,
.tt-query,
.tt-hint {
    padding: 8px 12px;
    border: 2px solid #ccc;
    outline: none;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-suggestion {
    color: var(--cp-color-1);
    margin: 0 !important;
    padding: 8px;
    font-size: 11px;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tt-suggestion small {
    display: block;
    margin: 2px 0;
    color: var(--cp-color-9);
}
.tt-cursor {
    color: #fff;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#3875d7),
        to(#2a62bc)
    );
    background: linear-gradient(#3875d7, #2a62bc);
}
.tt-menu {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#313131),
        to(#131313)
    );
    background: linear-gradient(#313131, #131313);
    color: #fff;
    width: calc(100% + 73px);
    max-height: 240px;
    overflow: auto;
    left: -36px !important;
}
.tt-menu::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
.tt-menu::-webkit-scrollbar-thumb {
    background: #666;
}
.tt-menu::-webkit-scrollbar-track {
    background: 0 0;
}
.empty-typeahead-message {
    padding: 15px;
    color: #fff;
}
.typeahead-no-results-found {
    text-align: center;
    padding: 1rem;
}
.twitter-typeahead {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
@media print {
    .main-sidebar,
    [id='react-search-and-user-menu'],
    .width-wrapper-comments .explore-tabs,
    .link-footer,
    .end-of-article-footer,
    .article-headline-link,
    .blog-meta-spacer,
    .blog-meta-spacer + .author-link,
    .actions-meta a,
    .cp_embed_wrapper iframe,
    [id='react-site-footer'],
    .end-of-article-sep,
    .follow-user-button,
    .pick-iframe,
    .leave-a-comment-area,
    .block-comment-actions {
        display: none;
    }
    body {
        padding: 1rem !important;
        overflow-x: visible;
        overflow-y: visible;
    }
    body,
    .block-comment-content,
    pre {
        background: #fff !important;
        color: #000 !important;
    }
    .box {
        border: double 0.5em #666;
        margin: 0 0 1em;
    }
    .post-body pre[class]::before,
    .comment-text pre[class]::before {
        border-bottom: solid 0.3em #666;
    }
    .post-body pre[class*='lang-'],
    .comment-text pre[class*='lang-'] {
        margin: 0;
    }
    .cp_embed_wrapper {
        border: dashed 0.1em #666;
        height: 4em;
        margin: 0 0 1em;
        overflow: hidden;
        padding: 1em;
    }
    .cp_embed_wrapper::before {
        content: 'Embedded Pen';
        display: block;
        margin: 0 0 4em;
    }
    .mega-header {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: 0 0;
        border: 0;
    }
    .comment-list {
        list-style: none;
    }
}
