
.bar-message svg {
    display: inline-block;
    vertical-align: middle;
}
.bar-message .close {
    position: absolute;
    right: 6px;
    top: 9px;
}
.bar-message .close svg {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 2px;
    fill: var(--cp-color-1);
    pointer-events: none;
}
.bar-message .close:hover svg,
.bar-message .close:active svg {
    background: var(--cp-color-1);
    fill: var(--cp-color-14);
}
.bar-message p {
    margin: 0 auto;
    max-width: 650px;
}
.bar-message .mini-button {
    vertical-align: baseline;
}
.bar-message.bar-message-error {
    background: var(--cp-color-red-very-light);
    color: var(--cp-color-14);
}
.bar-message.bar-message-success {
    background: var(--cp-color-green-light);
    color: var(--cp-color-14);
}
.bar-message.bar-message-ask {
    background: var(--cp-color-yellow-light);
    color: var(--cp-color-14);
}
.bar-message.bar-message-ask a {
    color: var(--cp-color-link-on-white);
    border-bottom: 1px solid #acacac;
}
.bar-message.bar-message-ask a:hover,
.bar-message.bar-message-ask a:focus {
    color: hsl(var(--cp-color-link-hsl) / 80%);
    border-bottom: none;
}
.bar-message.bar-message-error svg,
.bar-message.bar-message-success svg,
.bar-message.bar-message-ask svg {
    fill: var(--cp-color-14);
}
.bar-message.bar-message-error .close:hover svg,
.bar-message.bar-message-error .close:active svg,
.bar-message.bar-message-success .close:hover svg,
.bar-message.bar-message-success .close:active svg,
.bar-message.bar-message-ask .close:hover svg,
.bar-message.bar-message-ask .close:active svg {
    background: var(--cp-color-14);
    fill: var(--cp-color-1);
}
.bar-message.bar-message-split {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.bar-message.bar-message-split > :first-child {
    margin-right: auto;
}
.bar-message.bar-message-gone {
    height: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    margin: 0;
}
.bar-message-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
}
.bar-message-wrap .bar-message {
    margin-right: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0;
}
#packages-building-message {
    margin: 2rem;
    z-index: 2;
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
.help-flyout {
    font-family: var(--cp-font-family);
    display: none;
    position: absolute;
    z-index: 10;
    left: 100%;
    top: -20px;
    margin-left: 12px;
    border: 5px solid var(--cp-color-12);
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    background: var(--cp-color-20);
    text-align: left;
    font-weight: 400;
    color: var(--cp-color-8);
    cursor: auto;
}
.help-flyout::before {
    content: '';
    position: absolute;
    left: 0;
    margin-left: -14px;
    top: 12px;
    width: 0;
    height: 0;
    border-right: 10px solid var(--cp-color-12);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.help-flyout h5 {
    color: var(--cp-color-1);
    margin: 0 0 0.5rem;
}
.help-flyout p {
    color: var(--cp-color-8) !important;
    font-size: 0.9rem;
    margin: 0 0 1rem;
}
.help-flyout p:last-child {
    margin: 0;
}
.settings .help-flyout a {
    color: var(--cp-color-link-on-black);
    white-space: nowrap;
    border-color: var(--cp-color-link-on-black);
}
.settings .help-flyout a:hover,
.settings .help-flyout a:focus {
    color: #fff;
    border: none;
}
.help-flyout pre {
    white-space: pre-wrap;
}
.help-flyout-reverse {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 12px;
}
.help-flyout-reverse::before {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -24px;
    border-right: 10px solid transparent;
    border-left: 10px solid var(--cp-color-12);
}
.help-flyout-flush-right-top {
    right: 0;
    left: auto;
    top: auto;
    margin-right: 0;
    margin-left: 0;
    bottom: calc(100% + 20px);
}
.help-flyout-flush-right-top::before {
    top: calc(100% + 5px);
    bottom: 0;
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid var(--cp-color-12);
    border-bottom: none;
    border-right: 10px solid transparent;
}
.help-flyout-flush-left-top {
    right: 100%;
    left: auto;
    top: -2px;
    margin-right: 12px;
    margin-left: 0;
    bottom: auto;
    z-index: 6;
}
.help-flyout-flush-left-top::before {
    top: -5px;
    bottom: auto;
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -24px;
    border-left: 10px solid var(--cp-color-12);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
}
.help-flyout-up {
    top: auto;
    bottom: -20px;
}
.help-flyout-up::before {
    top: auto;
    bottom: 10px;
}
.help-flyout-middle {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.help-flyout-middle::before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.help-flyout-narrow {
    width: 200px;
}
.help-flyout-link {
    position: absolute;
    top: 3px;
    right: 0;
    width: 14px;
    height: 14px;
    margin: 0;
    cursor: pointer;
}
.help-flyout-link .icon-help {
    width: 100%;
    height: 100%;
    fill: var(--cp-color-11);
}
.help-flyout-link .icon-help:hover,
.help-flyout-link .icon-help:focus {
    fill: var(--cp-color-blue);
}
.help-flyout-link svg {
    display: block;
}
.help-flyout-link .icon-x {
    width: 12px;
    height: 12px;
    fill: var(--cp-color-12);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.help-flyout-link .icon-x:hover,
.help-flyout-link .icon-x:focus {
    fill: var(--cp-color-6);
}
.template-wrap .help-flyout-link,
.public-private-wrap .help-flyout-link,
.template-checkbox-row .help-flyout-link {
    top: 22px;
    right: 20px;
}
.help-flyout-link.inline-flyout.open {
    width: 100%;
    position: relative;
    height: auto;
}
.help-flyout-link.inline-flyout.open .icon-help {
    position: absolute;
    right: -5px;
    left: auto;
    top: -25px;
    width: 14px;
    height: 14px;
}
.help-flyout-link.inline-flyout.open .help-flyout.help-flyout-reverse {
    display: block;
    position: relative;
    right: auto;
    width: 100%;
    margin-top: 24px;
    border-width: 2px;
    left: 2%;
}
.help-flyout-link.inline-flyout.open .help-flyout.help-flyout-reverse::before {
    display: none;
}
.private-icon {
    float: right;
    fill: var(--cp-color-12);
    height: 25px;
    width: 20px;
}
.private-icon.inline {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.private-icon svg {
    width: 100%;
    height: 100%;
}
.private-icon.left {
    margin-right: 5px;
    float: left;
}
.private-icon.absolute {
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
}
.private-icon.centered {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.private-icon.large {
    width: 40px;
    height: 40px;
}
.private-icon.small {
    height: 23px;
    width: 16px;
}
.private-icon.trans {
    opacity: 0.5;
}
.typeahead,
.tt-query,
.tt-hint {
    padding: 8px 12px;
    border: 2px solid #ccc;
    outline: none;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-suggestion {
    color: var(--cp-color-1);
    margin: 0 !important;
    padding: 8px;
    font-size: 11px;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tt-suggestion small {
    display: block;
    margin: 2px 0;
    color: var(--cp-color-9);
}
.tt-cursor {
    color: #fff;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#3875d7),
        to(#2a62bc)
    );
    background: linear-gradient(#3875d7, #2a62bc);
}
.tt-menu {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#313131),
        to(#131313)
    );
    background: linear-gradient(#313131, #131313);
    color: #fff;
    width: calc(100% + 73px);
    max-height: 240px;
    overflow: auto;
    left: -36px !important;
}
.tt-menu::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
.tt-menu::-webkit-scrollbar-thumb {
    background: #666;
}
.tt-menu::-webkit-scrollbar-track {
    background: 0 0;
}
.empty-typeahead-message {
    padding: 15px;
    color: #fff;
}
.typeahead-no-results-found {
    text-align: center;
    padding: 1rem;
}
.twitter-typeahead {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
@media print {
    .main-sidebar,
    [id='react-search-and-user-menu'],
    .width-wrapper-comments .explore-tabs,
    .link-footer,
    .end-of-article-footer,
    .article-headline-link,
    .blog-meta-spacer,
    .blog-meta-spacer + .author-link,
    .actions-meta a,
    .cp_embed_wrapper iframe,
    [id='react-site-footer'],
    .end-of-article-sep,
    .follow-user-button,
    .pick-iframe,
    .leave-a-comment-area,
    .block-comment-actions {
        display: none;
    }
    body {
        padding: 1rem !important;
        overflow-x: visible;
        overflow-y: visible;
    }
    body,
    .block-comment-content,
    pre {
        background: #fff !important;
        color: #000 !important;
    }
    .box {
        border: double 0.5em #666;
        margin: 0 0 1em;
    }
    .post-body pre[class]::before,
    .comment-text pre[class]::before {
        border-bottom: solid 0.3em #666;
    }
    .post-body pre[class*='lang-'],
    .comment-text pre[class*='lang-'] {
        margin: 0;
    }
    .cp_embed_wrapper {
        border: dashed 0.1em #666;
        height: 4em;
        margin: 0 0 1em;
        overflow: hidden;
        padding: 1em;
    }
    .cp_embed_wrapper::before {
        content: 'Embedded Pen';
        display: block;
        margin: 0 0 4em;
    }
    .mega-header {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: 0 0;
        border: 0;
    }
    .comment-list {
        list-style: none;
    }
}
