@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic&display=swap';
:root {
    --cp-sidebar-width: 188px;
    --cp-sidebar-fixed-height: 700px;
    --cp-header-height: 65px;
    --cp-header-height-small: 53px;
    --cp-control-bar-height: 29px;
    --cp-control-space-between: 1.5rem;
    --cp-font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma,
        Sans-Serif;
    --cp-font-family-header: 'Telefon Black', Sans-Serif;
    --cp-font-family-header-alt: 'Telefon', Sans-Serif;
    --cp-font-family-monospace: SFMono-Regular, Consolas, 'Liberation Mono',
        Menlo, monospace;
    --cp-button-bg: var(--cp-color-13);
    --cp-button-color: white;
    --cp-button-icon: currentColor;
    --cp-button-hover-bg: var(--cp-color-12);
    --cp-button-hover-color: var(--cp-button-color);
    --cp-button-hover-icon: var(--cp-button-icon);
    --cp-button-default-bg: var(--cp-button-bg);
    --cp-button-default-color: var(--cp-button-color);
    --cp-button-border-width: 3px;
    --cp-button-border-radius: 4px;
    --cp-button-margin-block: 1px;
    --cp-button-margin-inline: 10px;
    --cp-button-padding-inline: 16px;
    --cp-button-padding-block: 10px;
    --cp-color-1-hsl: 0deg 0% 100%;
    --cp-color-1: hsl(var(--cp-color-1-hsl));
    --cp-color-2-hsl: 240deg 7.6923076923% 94.9019607843%;
    --cp-color-2: hsl(var(--cp-color-2-hsl));
    --cp-color-3-hsl: 225deg 10.5263157895% 92.5490196078%;
    --cp-color-3: hsl(var(--cp-color-3-hsl));
    --cp-color-4-hsl: 228deg 9.8039215686% 90%;
    --cp-color-4: hsl(var(--cp-color-4-hsl));
    --cp-color-5-hsl: 226.6666666667deg 12% 85.2941176471%;
    --cp-color-5: hsl(var(--cp-color-5-hsl));
    --cp-color-6-hsl: 230deg 12% 80.3921568627%;
    --cp-color-6: hsl(var(--cp-color-6-hsl));
    --cp-color-7-hsl: 225.8823529412deg 13.3858267717% 75.0980392157%;
    --cp-color-7: hsl(var(--cp-color-7-hsl));
    --cp-color-8-hsl: 226.6666666667deg 11.8421052632% 70.1960784314%;
    --cp-color-8: hsl(var(--cp-color-8-hsl));
    --cp-color-9-hsl: 233.3333333333deg 9.8901098901% 64.3137254902%;
    --cp-color-9: hsl(var(--cp-color-9-hsl));
    --cp-color-10-hsl: 226.1538461538deg 12.037037037% 57.6470588235%;
    --cp-color-10: hsl(var(--cp-color-10-hsl));
    --cp-color-11-hsl: 228.3870967742deg 12.2529644269% 50.3921568627%;
    --cp-color-11: hsl(var(--cp-color-11-hsl));
    --cp-color-12-hsl: 228deg 12.1951219512% 40.1960784314%;
    --cp-color-12: hsl(var(--cp-color-12-hsl));
    --cp-color-13-hsl: 227.3684210526deg 12.2580645161% 30.3921568627%;
    --cp-color-13: hsl(var(--cp-color-13-hsl));
    --cp-color-14-hsl: 222.8571428571deg 13.7254901961% 20%;
    --cp-color-14: hsl(var(--cp-color-14-hsl));
    --cp-color-15-hsl: 223.6363636364deg 12.9411764706% 16.6666666667%;
    --cp-color-15: hsl(var(--cp-color-15-hsl));
    --cp-color-16-hsl: 232.5deg 11.7647058824% 13.3333333333%;
    --cp-color-16: hsl(var(--cp-color-16-hsl));
    --cp-color-17-hsl: 225deg 9.5238095238% 8.2352941176%;
    --cp-color-17: hsl(var(--cp-color-17-hsl));
    --cp-color-18-hsl: 240deg 9.0909090909% 4.3137254902%;
    --cp-color-18: hsl(var(--cp-color-18-hsl));
    --cp-color-19-hsl: 0deg 0% 0.3921568627%;
    --cp-color-19: hsl(var(--cp-color-19-hsl));
    --cp-color-20-hsl: 0deg 0% 0%;
    --cp-color-20: hsl(var(--cp-color-20-hsl));
    --cp-color-shadow: hsl(var(--cp-color-18-hsl) / 60%);
    --cp-color-green-hsl: 139.4117647059deg 58.6206896552% 54.5098039216%;
    --cp-color-green: hsl(var(--cp-color-green-hsl));
    --cp-color-green-light-hsl: 139.0909090909deg 100% 91.3725490196%;
    --cp-color-green-light: hsl(var(--cp-color-green-light-hsl));
    --cp-color-green-dark-hsl: 139.6153846154deg 59.0909090909% 34.5098039216%;
    --cp-color-green-dark: hsl(var(--cp-color-green-dark-hsl));
    --cp-color-yellow-hsl: 49.3193717277deg 100% 62.5490196078%;
    --cp-color-yellow: hsl(var(--cp-color-yellow-hsl));
    --cp-color-yellow-light-hsl: 48.9655172414deg 87.8787878788% 80.5882352941%;
    --cp-color-yellow-light: hsl(var(--cp-color-yellow-light-hsl));
    --cp-color-yellow-dark-hsl: 49.2165898618deg 100% 42.5490196078%;
    --cp-color-yellow-dark: hsl(var(--cp-color-yellow-dark-hsl));
    --cp-color-purple-hsl: 274.8837209302deg 70.4918032787% 64.1176470588%;
    --cp-color-purple: hsl(var(--cp-color-purple-hsl));
    --cp-color-purple-light-hsl: 266.9565217391deg 56.0975609756% 75.8823529412%;
    --cp-color-purple-light: hsl(var(--cp-color-purple-light-hsl));
    --cp-color-purple-dark-hsl: 265.625deg 38.7096774194% 48.6274509804%;
    --cp-color-purple-dark: hsl(var(--cp-color-purple-dark-hsl));
    --cp-color-red-hsl: 358.4615384615deg 100% 61.7647058824%;
    --cp-color-red: hsl(var(--cp-color-red-hsl));
    --cp-color-red-very-light-hsl: 4.6153846154deg 100% 89.8039215686%;
    --cp-color-red-very-light: hsl(var(--cp-color-red-very-light-hsl));
    --cp-color-red-light-hsl: 3.2258064516deg 76.8595041322% 76.2745098039%;
    --cp-color-red-light: hsl(var(--cp-color-red-light-hsl));
    --cp-color-red-dark-hsl: 0deg 90.4761904762% 32.9411764706%;
    --cp-color-red-dark: hsl(var(--cp-color-red-dark-hsl));
    --cp-color-blue-hsl: 196.1825726141deg 100% 52.7450980392%;
    --cp-color-blue: hsl(var(--cp-color-blue-hsl));
    --cp-color-blue-light-hsl: 196.204379562deg 100% 73.137254902%;
    --cp-color-blue-light: hsl(var(--cp-color-blue-light-hsl));
    --cp-color-blue-dark-hsl: 206.4179104478deg 52.7559055118% 50.1960784314%;
    --cp-color-blue-dark: hsl(var(--cp-color-blue-dark-hsl));
    --cp-color-link-hsl: 196.204379562deg 100% 73.137254902%;
    --cp-color-link: hsl(var(--cp-color-link-hsl));
    --cp-color-link-on-white-hsl: 191.7857142857deg 64.367816092% 34.1176470588%;
    --cp-color-link-on-white: hsl(var(--cp-color-link-on-white-hsl));
    --cp-color-link-on-black-hsl: 202.4539877301deg 93.1428571429%
        65.6862745098%;
    --cp-color-link-on-black: hsl(var(--cp-color-link-on-black-hsl));
    --cp-color-pens-hsl: 196.1825726141deg 100% 52.7450980392%;
    --cp-color-pens: hsl(var(--cp-color-pens-hsl));
    --cp-color-posts-hsl: 139.4117647059deg 58.6206896552% 54.5098039216%;
    --cp-color-posts: hsl(var(--cp-color-posts-hsl));
    --cp-color-collections-hsl: 274.8837209302deg 70.4918032787% 64.1176470588%;
    --cp-color-collections: hsl(var(--cp-color-collections-hsl));
    --cp-color-projects-hsl: 49.3193717277deg 100% 62.5490196078%;
    --cp-color-projects: hsl(var(--cp-color-projects-hsl));
    background: var(--cp-color-20);
    color: var(--cp-color-1);
}
@font-face {
    font-family: telefon black;
    src: url(./telefon/black/telefon-black.woff) format('woff'),
        url(./telefon/black/telefon-black.woff2) format('woff2');
}
@font-face {
    font-family: telefon;
    src: url(./telefon/bold/telefon-bold.woff) format('woff'),
        url(./telefon/bold/telefon-bold.woff2) format('woff2');
}
html {
    font-family: var(--cp-font-family);
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
}
@media (max-width: 830px) {
    html {
        font-size: 14px;
    }
}
@media (max-width: 550px) {
    html {
        font-size: 13px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 10px;
    font-weight: 400;
}
h1 .title-callout,
h2 .title-callout,
h3 .title-callout,
h4 .title-callout,
h5 .title-callout,
h6 .title-callout {
    color: var(--cp-color-blue);
}
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--cp-font-family);
}
h1,
.h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--cp-font-family-header);
    line-height: 1.1;
    font-size: 3rem;
}
@media (max-width: 550px) {
    h1,
    .h1 {
        font-size: 2.2rem;
    }
}
h2,
.h2 {
    font-family: var(--cp-font-family-header-alt);
    font-size: 1.8rem;
}
h3,
.h3,
dt {
    font-size: 1.4rem;
    font-weight: 700;
}
h4,
.h4 {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
h5,
.h5 {
    font-weight: 700;
    text-transform: uppercase;
}
h6 {
    font-weight: 700;
}
p,
pre,
blockquote {
    margin: 0 0 1em;
}
p:empty,
pre:empty,
blockquote:empty {
    display: none;
}
a {
    text-decoration: none;
    color: var(--cp-color-link);
}
a:hover,
a:focus,
a:active {
    cursor: pointer;
    color: #fff;
}
time {
    color: var(--cp-color-7);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 80%;
}
blockquote {
    padding: 0.5rem 1rem 0.625rem;
    border-left: 2px solid var(--cp-color-blue);
    background: var(--cp-color-2);
    color: var(--cp-color-11);
}
blockquote p:last-child {
    margin: 0;
}
aside p,
aside address {
    color: var(--cp-color-8);
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
body {
    min-height: 100%;
}
.preload * {
    -webkit-transition: none !important;
    transition: none !important;
}
img,
a img {
    outline: 0;
    border: 0;
}
img {
    max-width: 100%;
    height: auto;
}
input[type='name'],
input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='datetime-local'],
input[type='search'],
input[type='url'],
input[type='tel'],
input[type='number'],
textarea {
    font-family: var(--cp-font-family);
    font-size: 13px;
    -webkit-appearance: none;
    padding: 4px 5px;
    outline: 0;
    background: var(--cp-color-5);
    border: 3px solid var(--cp-color-5);
    border-radius: 3px;
}
input[type='name']:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime-local']:focus,
input[type='search']:focus,
input[type='url']:focus,
input[type='tel']:focus,
input[type='number']:focus,
textarea:focus {
    border-color: var(--cp-color-11);
    background: var(--cp-color-1);
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
label[for],
input[type='checkbox'],
input[type='radio'] {
    cursor: pointer;
}
fieldset {
    border: 1px solid var(--cp-color-11);
    padding: 10px;
    margin: 0 0 10px;
}
legend {
    padding: 0 10px;
}
.page-wrap {
    position: relative;
    padding: 20px 20px 50px;
}
.screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.visually-hidden {
    position: absolute !important;
    top: -9999px;
    left: -9999px;
}
.mobile-break {
    display: none;
}
@media (max-width: 550px) {
    .mobile-break {
        display: block;
    }
}
textarea:focus,
textarea:active {
    outline: 0;
}
[disabled],
.disabled,
.faded {
    opacity: 0.5 !important;
    cursor: default !important;
    pointer-events: none;
}
body.admin-logged-in-as-user {
    padding-top: 16px !important;
}
body.admin-logged-in-as-user::before {
    content: '⚠️ ADMIN LOGGED IN AS USER - Log out to switch back to admin.';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: red;
    color: #fff;
    z-index: 999;
    font-size: 11px;
    height: 16px;
}
@media (min-width: 831px) {
    body {
        position: relative;
        height: auto;
        min-height: 100vh;
    }
    body:not(.sidebar-false) {
        padding-left: var(--cp-sidebar-width);
    }
    body[data-sidebar-collapsed='true'] {
        padding-left: 10px;
    }
    .main-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 16;
        width: var(--cp-sidebar-width);
        min-height: 100%;
        background: var(--cp-color-16);
        -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform 0.4s
            cubic-bezier(0.38, 0.01, 0.09, 0.98);
        transition: -webkit-transform 0.4s cubic-bezier(0.38, 0.01, 0.09, 0.98);
        transition: transform 0.4s cubic-bezier(0.38, 0.01, 0.09, 0.98);
        transition: transform 0.4s cubic-bezier(0.38, 0.01, 0.09, 0.98),
            -webkit-transform 0.4s cubic-bezier(0.38, 0.01, 0.09, 0.98);
    }
    .main-sidebar .navigation-wrap {
        -webkit-transition: visibility 0s linear;
        transition: visibility 0s linear;
    }
    [data-sidebar-collapsed='true'] .main-sidebar {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    [data-sidebar-collapsed='true'] .main-sidebar .navigation-wrap {
        visibility: hidden;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }
}
@media (min-height: 600px) and (min-width: 831px) {
    .main-sidebar {
        position: fixed;
    }
}
.mega-header {
    position: relative;
    border-bottom: 1px solid var(--cp-color-20);
    -webkit-box-shadow: 0 2px 15px var(--cp-color-20);
    box-shadow: 0 2px 15px var(--cp-color-20);
    background: var(--cp-color-20)
        url(https://cpwebassets.codepen.io/assets/global/texture-codepen-2-d817063398aa9a2b534f3834f8533e2bae759c25933b86cdd149d9f0cc38563d.png);
    background-position: 0 -5px;
    padding: 50px 20px;
    margin: 0 0 20px;
}
.mega-header.center h1,
.mega-header.center p {
    padding-right: 0;
    max-width: 100%;
}
.mega-header.mega-header-only {
    padding-bottom: 0;
}
.mega-header h1 {
    font-size: 4rem;
    padding: 0 25% 0 0;
    word-break: break-word;
}
.mega-header .mega-header-subhead {
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--cp-color-11);
}
.mega-header .mega-header-subdescription {
    max-width: 800px;
    margin: auto;
    letter-spacing: 0.1px;
    line-height: 26px;
}
.mega-header p {
    color: var(--cp-color-9);
    font-size: 1.2rem;
    padding-right: 200px;
}
.mega-header p,
.mega-header blockquote,
.mega-header ol,
.mega-header ul {
    max-width: 1000px;
}
.mega-header .actions-meta {
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
}
@media (max-width: 550px) {
    .mega-header .actions-meta {
        position: static;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: left;
    }
    .mega-header .actions-meta .meta-line {
        margin-right: auto;
    }
    .mega-header .actions-meta .meta-line br {
        display: none;
    }
}
.mega-header .meta-line {
    margin: 0 0 10px;
}
.mega-header .date-block {
    padding: 4px 8px;
    color: var(--cp-color-20);
    font-weight: 700;
}
.mega-header .content-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 3px solid var(--cp-color-posts);
}
@media (max-width: 850px) {
    .mega-header {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 550px) {
    .mega-header {
        background: var(--cp-color-20);
        padding: 20px 10px 10px !important;
    }
    .mega-header h1 {
        font-size: 2.5rem;
        margin: 0 0 0.5rem;
        padding-right: 0;
    }
    .mega-header p {
        padding-right: 0;
    }
    .mega-header time,
    .mega-header button,
    .mega-header a {
        margin-right: 5px;
    }
}
@media (max-width: 550px) {
    .bonus-text {
        display: none;
    }
}
.little-big-header {
    font-size: 4.5rem;
    margin: 0;
    color: var(--cp-color-1);
}
@media (max-width: 550px) {
    .little-big-header {
        font-size: 2.8rem;
    }
}
.sidebar-false .main-header,
.within-popup .main-header {
    background: var(--cp-color-19);
    height: var(--cp-header-height);
}
@media (max-width: 830px) {
    .sidebar-false .main-header,
    .within-popup .main-header {
        height: var(--cp-header-height-small);
    }
}
.sidebar-false .main-header .navigation-wrap,
.within-popup .main-header .navigation-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
@media (max-width: 1000px) {
    .sidebar-false .main-header > .button,
    .sidebar-false .main-header .editor-actions-menu .button,
    .within-popup .main-header > .button,
    .within-popup .main-header .editor-actions-menu .button {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 1rem;
    }
    .sidebar-false .main-header > .button,
    .sidebar-false .main-header .multi-button,
    .within-popup .main-header > .button,
    .within-popup .main-header .multi-button {
        margin-left: 0;
        margin-right: 6px;
    }
    .sidebar-false .main-header .multi-button .button,
    .within-popup .main-header .multi-button .button {
        margin-right: 0;
    }
}
@media (max-width: 800px) {
    .sidebar-false .main-header .button .icon,
    .within-popup .main-header .button .icon {
        margin-right: 0;
    }
    .sidebar-false .main-header .button .label,
    .within-popup .main-header .button .label {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}
@media (max-width: 767px), (max-height: 440px) {
    .sidebar-false .main-header .editor-actions .button,
    .within-popup .main-header .editor-actions .button {
        padding: 0.5rem 1rem;
    }
    .sidebar-false .main-header .multi-button-pin,
    .sidebar-false .main-header .pin-dropdown-alone-button,
    .within-popup .main-header .multi-button-pin,
    .within-popup .main-header .pin-dropdown-alone-button {
        display: none;
    }
}
.editor-actions-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.editor-actions-menu .toggle-actions-button {
    display: none;
    position: relative;
}
@media (max-width: 767px), (max-height: 440px) {
    .editor-actions-menu .toggle-actions-button {
        display: block;
    }
}
.editor-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
@media (max-width: 767px), (max-height: 440px) {
    .editor-actions {
        display: block;
        position: absolute;
        z-index: 400;
        top: 100%;
        right: 0;
        width: 225px;
        max-height: 75vh;
        padding: 0.5rem 0;
        overflow: hidden;
        overflow-y: auto;
        background: var(--cp-color-16);
        -webkit-box-shadow: 0 2rem 4rem var(--cp-color-18);
        box-shadow: 0 2rem 4rem var(--cp-color-18);
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: top right;
        transform-origin: top right;
        -webkit-transition: all 0.2s ease-in-out, visibility 0s linear 0.2s;
        transition: all 0.2s ease-in-out, visibility 0s linear 0.2s;
    }
    .editor-actions::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }
    .editor-actions::-webkit-scrollbar-thumb {
        background: var(--cp-color-11);
    }
    .editor-actions::-webkit-scrollbar-track {
        background: var(--cp-color-5);
    }
    .editor-actions .view-switcher-button {
        display: none !important;
    }
    .editor-actions[data-expanded='true'] {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition-delay: 0s, 0s;
        transition-delay: 0s, 0s;
        pointer-events: auto;
    }
    .editor-actions > button,
    .editor-actions > button[data-variant] {
        line-height: 1.4;
        display: block;
        background: 0 0;
        border: none;
        border-radius: 0;
        margin: 0 0 0.25rem;
        font-weight: 700 !important;
        width: 100%;
        text-align: left;
    }
}
.site-footer {
    font-family: var(--cp-font-family);
    height: 30px;
    line-height: 1;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
    color: var(--cp-color-9);
    background: var(--cp-color-14);
    border-top: 1px solid var(--cp-color-13);
    z-index: 10;
    font-size: 1rem;
}
.footer-left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    height: 100%;
    padding: 9px 0;
    z-index: 1;
}
@media (min-width: 551px) {
    .footer-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.footer-left > .button {
    margin-right: 8px;
}
.export-feature-notifier.export-feature-notifier {
    margin: 0;
    position: absolute;
    top: -4px;
    right: -2px;
}
.footer-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
@media (max-width: 610px) {
    .footer-right {
        position: relative;
        padding-left: 5px;
    }
}
@media (max-width: 610px) {
    .editor-footer .footer-right {
        position: absolute;
        right: 5px;
        padding-left: 0;
    }
}
.footer-right .pick-iframe {
    display: inline-block;
    width: 70px;
    height: 20px;
    background: 0 0;
    vertical-align: top;
    margin: 0 5px 0 0;
}
.footer-right > a {
    display: inline-block;
    position: relative;
}
.footer-icon svg {
    width: 15px;
    height: 15px;
    fill: var(--cp-color-1);
    display: inline-block;
    vertical-align: middle;
    top: -1px;
    position: relative;
}
.footer-icon-editor svg {
    width: 16px !important;
    height: 16px !important;
    fill: var(--cp-color-12);
}
.footer-icon-editor:hover svg,
.footer-icon-editor:active svg {
    fill: var(--cp-color-9);
}
.layout-change-links {
    display: inline-block;
}
body.layout-left .layout-change-links #left-layout svg,
body.layout-top .layout-change-links #top-layout svg,
body.layout-right .layout-change-links #right-layout svg {
    fill: var(--cp-color-7);
}
.footer-word-links {
    display: inline-block;
}
.footer-word-links a {
    margin-left: 4px;
}
.button.zoom-select {
    display: none;
}
@media (max-width: 767px), (max-height: 440px) {
    .button.zoom-select {
        display: inline-block;
    }
}
.editor-toggle-buttons > .button {
    background: #1e1e1e;
}
.editor-toggle-buttons > .button.active {
    color: #fff;
    font-weight: 700 !important;
    background: #1e1e1e;
}
.editor-toggle-buttons > .button:not(:first-child) {
    border-left: 1px solid var(--cp-color-12);
}
.editor-layout-buttons {
    display: inline-block;
    position: relative;
    top: 1px;
}
.footer-professor .layout-change-links {
    position: relative;
}
body.student .footer-professor .layout-change-links::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.student-count {
    color: var(--cp-color-1);
    margin: 0 5px;
}
.footer-collab .student-count {
    background: var(--cp-color-11);
}
.footer-collab #collab-names a {
    color: var(--cp-color-6);
}
.footer-collab #collab-names a:hover,
.footer-collab #collab-names a:focus {
    color: #fff;
}
.pres-footer .mini-logo {
    vertical-align: middle;
    margin-right: 5px;
}
.preview-size-buttons {
    margin: 0 !important;
}
.preview-size-buttons a {
    color: var(--cp-color-7);
}
.footer-icon-editor {
    margin-left: 5px;
}
.footer-actions-menu .toggle-footer-menu-button {
    display: none;
}
.footer-actions-menu .footer-actions {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
@media (max-width: 550px) {
    .footer-actions-menu .toggle-footer-menu-button {
        display: inline-block;
        padding: 0 16px;
    }
    .footer-actions-menu .toggle-footer-menu-button svg {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: 0.2s -webkit-transform;
        transition: 0.2s -webkit-transform;
        transition: 0.2s transform;
        transition: 0.2s transform, 0.2s -webkit-transform;
    }
    .footer-actions-menu .toggle-footer-menu-button[aria-expanded='true'] svg {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .footer-actions-menu .footer-actions {
        display: block;
        position: absolute;
        left: 0;
        bottom: 100%;
        z-index: 400;
        width: 100%;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        background: var(--cp-color-16);
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-transition: all 0.2s ease-in-out, visibility 0s linear 0.2s;
        transition: all 0.2s ease-in-out, visibility 0s linear 0.2s;
    }
    .footer-actions-menu .footer-actions[data-expanded='true'] {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition-delay: 0s, 0s;
        transition-delay: 0s, 0s;
    }
}
@font-face {
    font-family: telefon black;
    src: url(https://cpwebassets.codepen.io/assets/telefon/black/3f32b1c9-8e26-465e-ae02-ff82a378b670-3-78992f1ed89d5cadb09702e6a0d5bbb0302e85c728c1f8d18fdc8aa56870104c.woff)
            format('woff'),
        url(https://cpwebassets.codepen.io/assets/telefon/black/3f32b1c9-8e26-465e-ae02-ff82a378b670-3-6435f1279663bb84d4a1d8effe0adafbf8499ff6efdd01a59be848c90d8c4c0b.woff2)
            format('woff2');
}
@font-face {
    font-family: telefon;
    src: url(https://cpwebassets.codepen.io/assets/telefon/bold/af889c53-1ee3-4868-8fdc-2b310d587b50-3-b7a87e0fbd213943fae0c0ef5985635dd43fa9c24876b2725127a13ccaf4ab6a.woff)
            format('woff'),
        url(https://cpwebassets.codepen.io/assets/telefon/bold/af889c53-1ee3-4868-8fdc-2b310d587b50-3-446e9e68a40500d1b24a18331c6d6a78226d276079dcdc2ad9e80a48bdcfd948.woff2)
            format('woff2');
}
.block-title {
    text-align: center;
    padding: 1em 0;
}
.superhead {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
}
.content-author {
    padding: 15px 0;
}
.content-author .user-avatar {
    display: block;
}
.content-author time {
    white-space: nowrap;
}
.mega-header .content-author {
    color: var(--cp-color-9);
}
@media (max-width: 550px) {
    .mega-header .content-author {
        margin: 0 0 20px;
    }
}
.text ul,
.text ol {
    margin: 0 0 1.5rem;
    padding: 0 0 0 1.5rem;
}
.text ul li,
.text ol li {
    margin: 0 0 0.5rem;
}
.text table {
    border-collapse: collapse;
    margin: 0 0 1rem;
}
.text table th,
.text table td {
    padding: 3px 8px;
    border: 1px solid var(--cp-color-11);
}
.text > p:last-child {
    margin-bottom: 0;
}
.pen-description p code,
.pen-description li code {
    color: var(--cp-color-8);
}
.pen-description a code {
    color: var(--cp-color-link);
}
.pen-description a:hover code {
    color: var(--cp-color-1);
}
.comment-text code,
.pen-description code {
    font-family: var(--cp-font-family-monospace);
    font-size: 85%;
    text-transform: none;
}
.comment-text p code,
.comment-text li code,
.pen-description p code,
.pen-description li code {
    margin: 0 2px;
}
.comment-text p code,
.pen-description p code {
    padding: 2px 5px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.2);
}
.pen-description pre,
.post-body pre,
.comment-text pre {
    color: var(--cp-color-1);
    padding: 0;
    margin: 0 0 1rem;
    font-family: var(--cp-font-family-monospace);
    font-size: 85%;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
}
.pen-description pre[class*='lang-'],
.post-body pre[class*='lang-'],
.comment-text pre[class*='lang-'] {
    margin-top: 2.2rem;
}
@media (max-width: 550px) {
    .pen-description pre[class*='lang-'],
    .post-body pre[class*='lang-'],
    .comment-text pre[class*='lang-'] {
        margin-top: 2.5rem;
    }
}
.pen-description pre.has-code,
.post-body pre.has-code,
.comment-text pre.has-code {
    white-space: normal;
}
.pen-description pre > code,
.post-body pre > code,
.comment-text pre > code {
    font-family: var(--cp-font-family-monospace);
    font-size: inherit;
    background: 0 0;
    padding: 15px;
    white-space: pre-wrap;
    display: block;
    overflow-x: auto;
}
.pen-description pre > code::-webkit-scrollbar,
.post-body pre > code::-webkit-scrollbar,
.comment-text pre > code::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
.pen-description pre > code::-webkit-scrollbar-thumb,
.post-body pre > code::-webkit-scrollbar-thumb,
.comment-text pre > code::-webkit-scrollbar-thumb {
    background: var(--cp-color-11);
}
.pen-description pre > code::-webkit-scrollbar-track,
.post-body pre > code::-webkit-scrollbar-track,
.comment-text pre > code::-webkit-scrollbar-track {
    background: 0 0;
}
.pen-description pre[class]::before,
.post-body pre[class]::before,
.comment-text pre[class]::before {
    font-family: var(--cp-font-family);
    display: block;
    background: var(--cp-color-14);
    border-bottom: 1px solid var(--cp-color-12);
    color: var(--cp-color-9);
    padding: 5px;
    font-size: 75%;
    line-height: 1;
}
.pen-description pre.lang-xml::before,
.post-body pre.lang-xml::before,
.comment-text pre.lang-xml::before {
    content: 'HTML';
}
.pen-description pre.lang-html::before,
.post-body pre.lang-html::before,
.comment-text pre.lang-html::before {
    content: 'HTML';
}
.pen-description pre.lang-haml::before,
.post-body pre.lang-haml::before,
.comment-text pre.lang-haml::before {
    content: 'Haml';
}
.pen-description pre.lang-markdown::before,
.post-body pre.lang-markdown::before,
.comment-text pre.lang-markdown::before {
    content: 'Markdown';
}
.pen-description pre.lang-application\/x-slim::before,
.post-body pre.lang-application\/x-slim::before,
.comment-text pre.lang-application\/x-slim::before {
    content: 'Slim';
}
.pen-description pre.lang-pug::before,
.post-body pre.lang-pug::before,
.comment-text pre.lang-pug::before {
    content: 'Pug';
}
.pen-description pre.lang-css::before,
.post-body pre.lang-css::before,
.comment-text pre.lang-css::before {
    content: 'CSS';
}
.pen-description pre.lang-text\/x-scss::before,
.post-body pre.lang-text\/x-scss::before,
.comment-text pre.lang-text\/x-scss::before {
    content: 'SCSS';
}
.pen-description pre.lang-text\/x-sass::before,
.post-body pre.lang-text\/x-sass::before,
.comment-text pre.lang-text\/x-sass::before {
    content: 'Sass';
}
.pen-description pre.lang-text\/x-less::before,
.post-body pre.lang-text\/x-less::before,
.comment-text pre.lang-text\/x-less::before {
    content: 'Less';
}
.pen-description pre.lang-text\/x-styl::before,
.post-body pre.lang-text\/x-styl::before,
.comment-text pre.lang-text\/x-styl::before {
    content: 'Stylus';
}
.pen-description pre.lang-text\/x-postcss::before,
.post-body pre.lang-text\/x-postcss::before,
.comment-text pre.lang-text\/x-postcss::before {
    content: 'PostCSS';
}
.pen-description pre.lang-javascript::before,
.post-body pre.lang-javascript::before,
.comment-text pre.lang-javascript::before {
    content: 'JavaScript';
}
.pen-description pre.lang-livescript::before,
.post-body pre.lang-livescript::before,
.comment-text pre.lang-livescript::before {
    content: 'LiveScript';
}
.pen-description pre.lang-text\/typescript::before,
.post-body pre.lang-text\/typescript::before,
.comment-text pre.lang-text\/typescript::before {
    content: 'TypeScript';
}
.pen-description pre.lang-coffeescript::before,
.post-body pre.lang-coffeescript::before,
.comment-text pre.lang-coffeescript::before {
    content: 'CoffeeScript';
}
.pen-description pre.lang-ruby::before,
.post-body pre.lang-ruby::before,
.comment-text pre.lang-ruby::before {
    content: 'Ruby';
}
.pen-description pre.lang-shell::before,
.post-body pre.lang-shell::before,
.comment-text pre.lang-shell::before {
    content: 'Shell';
}
.pen-description pre.lang-application\/x-httpd-php::before,
.post-body pre.lang-application\/x-httpd-php::before,
.comment-text pre.lang-application\/x-httpd-php::before {
    content: 'PHP';
}
.pen-description pre.lang-sql::before,
.post-body pre.lang-sql::before,
.comment-text pre.lang-sql::before {
    content: 'SQL';
}
.pen-description pre:not([class]),
.post-body pre:not([class]),
.comment-text pre:not([class]) {
    background: var(--cp-color-13);
    overflow: auto;
    padding: 1rem;
}
.pen-description pre:not([class])::-webkit-scrollbar,
.post-body pre:not([class])::-webkit-scrollbar,
.comment-text pre:not([class])::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
.pen-description pre:not([class])::-webkit-scrollbar-thumb,
.post-body pre:not([class])::-webkit-scrollbar-thumb,
.comment-text pre:not([class])::-webkit-scrollbar-thumb {
    background: var(--cp-color-11);
}
.pen-description pre:not([class])::-webkit-scrollbar-track,
.post-body pre:not([class])::-webkit-scrollbar-track,
.comment-text pre:not([class])::-webkit-scrollbar-track {
    background: var(--cp-color-5);
}
.pen-description pre:not([class]) > code,
.post-body pre:not([class]) > code,
.comment-text pre:not([class]) > code {
    display: inline;
    padding: 0;
}
form.form-on-white {
    background: var(--cp-color-1);
}
form.form-on-white label {
    color: var(--cp-color-14);
}
textarea.is-code {
    font-family: Monaco, Courier, MonoSpace;
    line-height: 2;
}
label.small {
    display: block;
    font-size: 0.8em;
    margin: 0 0 2px;
}
label.small-inline {
    font-size: 0.8em;
    display: inline-block !important;
    margin-right: 3px;
}
.mega-fullwidth.mega-fullwidth {
    width: 100%;
    margin: 10px 0;
    font-size: 1.5em;
    padding: 0.5em;
}
.form-like-form > div {
    clear: both;
    margin: 0 0 10px;
}
@media (max-width: 550px) {
    .form-like-form > div {
        margin: 0 0 20px;
    }
}
.form-like-form label {
    display: block;
    width: 35%;
    float: left;
    text-align: right;
    padding: 9px 10px 0 0;
    color: var(--cp-color-6);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
@media (max-width: 830px) {
    .form-like-form label {
        text-align: left;
    }
}
@media (max-width: 550px) {
    .form-like-form label {
        float: none;
        width: 100%;
    }
}
.form-like-form input[type='name'],
.form-like-form input[type='tel'],
.form-like-form input[type='text'],
.form-like-form input[type='email'],
.form-like-form input[type='password'],
.form-like-form input[type='url'],
.form-like-form textarea {
    padding: 10px;
    width: 64%;
}
@media (max-width: 550px) {
    .form-like-form input[type='name'],
    .form-like-form input[type='tel'],
    .form-like-form input[type='text'],
    .form-like-form input[type='email'],
    .form-like-form input[type='password'],
    .form-like-form input[type='url'],
    .form-like-form textarea {
        width: 100%;
        margin: 2px 0 0;
    }
}
.form-like-form input[type='checkbox'],
.form-like-form select {
    position: relative;
    top: 3px;
}
.form-like-form select {
    width: 25%;
}
@media (max-width: 550px) {
    .form-like-form select {
        width: 100%;
    }
}
.form-like-form textarea {
    height: 100px;
    display: block;
}
.form-like-form .hint {
    color: var(--cp-color-9);
    font-size: 0.85em;
    padding: 5px 0 0 35%;
}
.form-like-form .hint strong {
    color: var(--cp-color-1);
}
@media (max-width: 550px) {
    .form-like-form .hint {
        padding-left: 0;
    }
}
.form-like-form .end-form-buttons {
    padding-top: 10px;
}
.form-like-form-halfs label {
    width: 50%;
}
.form-like-form-halfs select {
    width: 50%;
}
.top-label-form label {
    font-weight: 400;
    display: block;
    margin: 0 0 3px;
    letter-spacing: 0.5px;
}
.top-label-form input[type='name'],
.top-label-form input[type='tel'],
.top-label-form input[type='text'],
.top-label-form input[type='number'],
.top-label-form input[type='email'],
.top-label-form input[type='date'],
.top-label-form input[type='datetime-local'],
.top-label-form input[type='password'],
.top-label-form input[type='url'],
.top-label-form textarea {
    padding: 10px;
    width: 100%;
}
.top-label-form select {
    background: var(--cp-color-6);
}
.top-label-form .top-label-form-row {
    margin-bottom: 1rem;
}
.top-label-form .top-label-input-instructions {
    color: var(--cp-color-8);
}
.normal-labels label {
    text-transform: none;
    letter-spacing: 0;
}
.row-of-radio label {
    display: inline;
}
.selected {
    color: var(--cp-color-link);
}
.body-login h1 strong {
    color: var(--cp-color-link);
}
#sent-message {
    display: none;
    font-style: italic;
    text-align: center;
}
#sent-message p {
    color: var(--cp-color-green);
}
.error {
    clear: both;
}
.explore-tabs .error {
    background: 0 0;
    color: var(--cp-color-red) !important;
    font-weight: 700;
    border: 0;
    padding: 3px 8px 5px;
}
.error input[type='name'],
.error input[type='tel'],
.error input[type='text'],
.error input[type='email'],
.error input[type='password'],
.error input[type='url'],
.error textarea {
    border-color: var(--cp-color-red);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.error-message {
    background: var(--cp-color-red);
    color: #fff;
    padding: 5px 10px;
    margin-left: 35%;
    width: 64%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
#login-error .error-message {
    padding-top: 0;
}
.top-label-form .error-message,
.field-half .error-message {
    margin-left: 0;
    width: 100%;
}
#pro-other {
    clear: both;
    margin: 20px 0;
}
#pro-other .error-message {
    padding-top: 0;
}
.ios-toggle-wrap {
    position: relative;
    text-align: center;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.1);
}
.ios-toggle-mega-label-wrap {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}
.ios-toggle-mega-label-wrap.ios-toggle-disabled {
    opacity: 0.5;
    pointer-events: none;
}
.ios-toggle-mega-label {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ios-toggle > input:active + label::before,
.ios-toggle > input:checked + label::before {
    width: 60%;
    left: 20%;
    top: 30%;
    height: 40%;
    opacity: 0;
}