
.help-flyout-narrow {
    width: 200px;
}
.help-flyout-link {
    position: absolute;
    top: 3px;
    right: 0;
    width: 14px;
    height: 14px;
    margin: 0;
    cursor: pointer;
}
.help-flyout-link .icon-help {
    width: 100%;
    height: 100%;
    fill: var(--cp-color-11);
}
.help-flyout-link .icon-help:hover,
.help-flyout-link .icon-help:focus {
    fill: var(--cp-color-blue);
}
.help-flyout-link svg {
    display: block;
}
.help-flyout-link .icon-x {
    width: 12px;
    height: 12px;
    fill: var(--cp-color-12);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.help-flyout-link .icon-x:hover,
.help-flyout-link .icon-x:focus {
    fill: var(--cp-color-6);
}
.template-wrap .help-flyout-link,
.public-private-wrap .help-flyout-link,
.template-checkbox-row .help-flyout-link {
    top: 22px;
    right: 20px;
}
.help-flyout-link.inline-flyout.open {
    width: 100%;
    position: relative;
    height: auto;
}
.help-flyout-link.inline-flyout.open .icon-help {
    position: absolute;
    right: -5px;
    left: auto;
    top: -25px;
    width: 14px;
    height: 14px;
}
.help-flyout-link.inline-flyout.open .help-flyout.help-flyout-reverse {
    display: block;
    position: relative;
    right: auto;
    width: 100%;
    margin-top: 24px;
    border-width: 2px;
    left: 2%;
}
.help-flyout-link.inline-flyout.open .help-flyout.help-flyout-reverse::before {
    display: none;
}
.private-icon {
    float: right;
    fill: var(--cp-color-12);
    height: 25px;
    width: 20px;
}
.private-icon.inline {
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.private-icon svg {
    width: 100%;
    height: 100%;
}
.private-icon.left {
    margin-right: 5px;
    float: left;
}
.private-icon.absolute {
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
}
.private-icon.centered {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.private-icon.large {
    width: 40px;
    height: 40px;
}
.private-icon.small {
    height: 23px;
    width: 16px;
}
.private-icon.trans {
    opacity: 0.5;
}
.typeahead,
.tt-query,
.tt-hint {
    padding: 8px 12px;
    border: 2px solid #ccc;
    outline: none;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-suggestion {
    color: var(--cp-color-1);
    margin: 0 !important;
    padding: 8px;
    font-size: 11px;
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tt-suggestion small {
    display: block;
    margin: 2px 0;
    color: var(--cp-color-9);
}
.tt-cursor {
    color: #fff;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#3875d7),
        to(#2a62bc)
    );
    background: linear-gradient(#3875d7, #2a62bc);
}
.tt-menu {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#313131),
        to(#131313)
    );
    background: linear-gradient(#313131, #131313);
    color: #fff;
    width: calc(100% + 73px);
    max-height: 240px;
    overflow: auto;
    left: -36px !important;
}
.tt-menu::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
.tt-menu::-webkit-scrollbar-thumb {
    background: #666;
}
.tt-menu::-webkit-scrollbar-track {
    background: 0 0;
}
.empty-typeahead-message {
    padding: 15px;
    color: #fff;
}
.typeahead-no-results-found {
    text-align: center;
    padding: 1rem;
}
.twitter-typeahead {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
@media print {
    .main-sidebar,
    [id='react-search-and-user-menu'],
    .width-wrapper-comments .explore-tabs,
    .link-footer,
    .end-of-article-footer,
    .article-headline-link,
    .blog-meta-spacer,
    .blog-meta-spacer + .author-link,
    .actions-meta a,
    .cp_embed_wrapper iframe,
    [id='react-site-footer'],
    .end-of-article-sep,
    .follow-user-button,
    .pick-iframe,
    .leave-a-comment-area,
    .block-comment-actions {
        display: none;
    }
    body {
        padding: 1rem !important;
        overflow-x: visible;
        overflow-y: visible;
    }
    body,
    .block-comment-content,
    pre {
        background: #fff !important;
        color: #000 !important;
    }
    .box {
        border: double 0.5em #666;
        margin: 0 0 1em;
    }
    .post-body pre[class]::before,
    .comment-text pre[class]::before {
        border-bottom: solid 0.3em #666;
    }
    .post-body pre[class*='lang-'],
    .comment-text pre[class*='lang-'] {
        margin: 0;
    }
    .cp_embed_wrapper {
        border: dashed 0.1em #666;
        height: 4em;
        margin: 0 0 1em;
        overflow: hidden;
        padding: 1em;
    }
    .cp_embed_wrapper::before {
        content: 'Embedded Pen';
        display: block;
        margin: 0 0 4em;
    }
    .mega-header {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: 0 0;
        border: 0;
    }
    .comment-list {
        list-style: none;
    }
}
